# Ignore sublime workspace configuration
*.sublime-workspace

# Ignore bundler configuration
.bundle

# Ignore ruby gemset configuration
.ruby-gemset

# Ignore ruby version configuration
.ruby-version

# Ignore bundler stubs
bin

# Ignore “output” folder
output

# Ignore “source” folder
# source